@define-color foreground rgba(239, 240, 241, 1);
@define-color foreground-inactive rgba(127, 140, 141, 1);
@define-color background rgba(0, 0, 0, 0);
@define-color background-alt rgba(49, 54, 59, 1);

* {
    font-family: Mononoki Nerd Font;
    font-size: 16px;
    padding: 1;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 3px;
}

#wireplumber,
#bat,
#tray,
#usage,
#net {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
    margin-right: 0.8em;
}
