@import url('/home/umair/.cache/wal/colors-waybar.css');

* {
    background-image: none;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: 700;
    font-size: 20px;
  }
  
  window {
    background-color: rgba(17, 17, 17, 0.6);
  }
  
  button {
    color: #ebdbb2;
    background-color: #323232;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
  }
  
  button:focus {
    background-color: #323232;
    background-size: 20%;
  }
  
  button:hover#lock {
    background-color: alpha(@color9,0.5);
    background-size: 25%;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  }
  
  button:hover#logout {
    background-color: alpha(@color9,0.5);
    background-size: 25%;
    margin: 0px 30px 30px 30px;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  }
  
  button:hover#suspend {
    background-color: alpha(@color9,0.5);
    background-size: 25%;
    margin: 0px 0px 30px 30px;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  }
  
  button:hover#hibernate {
    background-color: alpha(@color9,0.5);
    background-size: 25%;
    margin: 30px 30px 0px 0px;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  }
  
  button:hover#shutdown {
    background-color: alpha(@color9,0.5);
    background-size: 25%;
    margin: 30px 30px 0 30px;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  }
  
  button:hover#reboot {
    background-color: alpha(@color9,0.5);
    background-size: 25%;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  }
  
  #lock {
    background-image: image(
      url('./icons/lock.png')
    );
    background-size: 12%;
    border-top-left-radius: 50px;
    background-color: transparent;
  }
  
  #logout {
    background-image: image(
      url('./icons/logout.png')
    );
    background-color: transparent;
  }
  
  #shutdown {
    background-image: image(
      url('./icons/shutdown.png')
    );
    background-color: transparent;
  }
  
  #reboot {
    background-image: image(
      url('./icons/reboot.png')
    );
    border-bottom-right-radius: 50px;
    background-color: transparent;
  }
  
  #suspend {
    background-image: image(
      url('./icons/suspend.png')
    );
    border-top-right-radius: 50px;
    background-color: transparent;
  }
  
  #hibernate {
    background-image: image(
      url('./icons/hibernate.png')
    );
    border-bottom-left-radius: 50px;
    background-color: transparent;
  }
