#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0c061f",
    floating_border_color: "#763243",
    focused_border_color: "#c2c0c7",
    background_color: "#0c061f",
)