/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #040404 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c0c0c0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c0c0c0; background-color: rgba(105,105,105,0.4)}
.cm-s-nqqwal { background-color: #040404; color: #c0c0c0; }
.cm-s-nqqwal span.cm-builtin { color: #292929; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #645151; }
.cm-s-nqqwal span.cm-keyword { color: #343434; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #414141; }
.cm-s-nqqwal span.cm-def { color: #525252; }
.cm-s-nqqwal span.cm-variable { color: #696969; }
.cm-s-nqqwal span.cm-variable-2 { color: #525252; }
.cm-s-nqqwal span.cm-string { color: #292929; }
.cm-s-nqqwal span.cm-string-2 { color: #292929; }
.cm-s-nqqwal span.cm-number { color: #525252; }
.cm-s-nqqwal span.cm-tag { color: #343434; }
.cm-s-nqqwal span.cm-property { color: #696969; }
.cm-s-nqqwal span.cm-attribute { color: #696969; }
.cm-s-nqqwal span.cm-qualifier { color: #414141; }
.cm-s-nqqwal span.cm-meta { color: #525252; }
.cm-s-nqqwal span.cm-header { color: #343434; }
.cm-s-nqqwal span.cm-operator { color: #343434; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(82,82,82,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #343434; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #040404); }
